body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }

 main {
     flex: 1 0 auto;
 }

img.circle.avatar {
    width: 50px;
    height: 50px;
}

img.circle.avatar-small {
    width: 30px;
    height: 30px;
}

.text-pink-orange {
    color: #ee6e73;
}

a.text-pink-orange {
    color: #ee6e73;
}

.news-title {
    font-size: 1.1em !important;
}

.news-link {
    color: dimgrey;
}

.no-news {
    color: dimgrey;
}

.card-image img {
    height: 210px;
}

a.pointer {
    cursor: pointer !important;
}