<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>NEWS & YOU | MUSIC</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/newsandyou.css" media="screen,projection" />
</head>

<body ng-app="NewsAndYouMusicApp" ng-controller="MainCtrl">

    <div class="navbar-fixed">
        <nav role="navigation">
            <div class="nav-wrapper container">
                <a ng-click="goToHome()" class="brand-logo hide-on-med-and-down pointer">
                    <i class="material-icons">queue_music</i> MUSIC
                </a>
                <a ng-click="goToHome()" class="brand-logo center pointer">NEWS & YOU</a>
                <ul class="right hide-on-med-and-down valign-wrapper" ng-if="authFact.getUserObj() != null">
                    <li><a ng-click="syncFacebookData()">Sync</a></li>
                    <li><a ng-click="fbLogout()">Logout</a></li>
                    <li>
                        <img ng-src="https://graph.facebook.com/{{authFact.getUserObj().userFbId}}/picture" alt="" class="circle avatar valign">
                    </li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li class="text-pink-orange valign-wrapper container">
                        <i style="display: inline;" class="material-icons small">queue_music</i>
                        <span class="valign">NEWS & YOU, MUSIC</span>
                    </li>
                    <li ng-if="authFact.getUserObj() != null">
                        <a class="text-pink-orange" ng-click="syncFacebookData()">
                            Sync with Facebook
                        </a>
                    </li>
                    <li ng-if="authFact.getUserObj() != null">
                        <a class="text-pink-orange" ng-click="fbLogout()">
                            <div class="row valign-wrapper">
                                <div class="col s2">
                                    <img ng-src="https://graph.facebook.com/{{authFact.getUserObj().userFbId}}/picture" alt="" class="circle avatar-small valign">
                                </div>
                                <div class="col s10">
                                    Logout
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-pink-orange" ng-click="goToPrivacyPolicy()">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a class="text-pink-orange" ng-click="goToTermsAndConditions()">
                            Terms And Conditions
                        </a>
                    </li>
                </ul>
                <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

    <main>
        <div ng-view autoscroll="true"></div>
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col m9 s12">
                    <h5 class="white-text">About NEWS AND YOU, MUSIC</h5>
                    <p class="grey-text text-lighten-4">
                        This project was deleveloped like a final project of the UFRJ Science Computer bachelor degree. This project is a recommender
                        system of music news that uses Facebook user's music info to suggest music news without need to ask
                        user's preferences or wait for user's feedback.
                    </p>
                    <a class="orange-text text-lighten-3 pointer" ng-click="goToPrivacyPolicy()">Privacy Policy</a>
                    •
                    <a class="orange-text text-lighten-3 pointer" ng-click="goToTermsAndConditions()">Terms And Conditions</a>
                </div>
                <div class="col m3 s12">
                    <h5 class="white-text">Connect</h5>
                    <div class="row">
                        <div class="col s12 center">
                            <a href="http://www.nme.com">
                                <div class="nme-logo"></div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center">
                            <a href="http://ufrj.br">
                                <img width="120px" src="img/ufrj-logo.png"></img>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center">
                            <a href="http://dcc.ufrj.br">
                                <img width="120px" src="img/dcc-ufrj-logo.png"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="https://br.linkedin.com/in/thaciana-lima-4a9818b4">Thaciana Lima</a>                
                oriented by <b>João Carlos da Silva (IM-UFRJ)</b> and <b>Bianca Pereira (INSIGHT-NUIG)</b>
            </div>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize/materialize.min.js"></script>
    <script src="js/materialize/init.js"></script>

    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-cookies.min.js"></script>

    <script type="text/javascript" src="js/app/app.js"></script>
    <script type="text/javascript" src="js/app/routes.js"></script>

    <script type="text/javascript" src="js/app/factories/authFact.js"></script>
    <script type="text/javascript" src="js/app/factories/apiFact.js"></script>

    <script type="text/javascript" src="js/app/controllers/mainCtrl.js"></script>
    <script type="text/javascript" src="js/app/controllers/homeCtrl.js"></script>
    <script type="text/javascript" src="js/app/controllers/newsCtrl.js"></script>
</body>

</html>