<div class="section no-pad-bot">
    <div class="container">
        <br><br>
        <h2 class="header center text-pink-orange">Music news carefully selected based on what you like.</h2>
        <div class="row center">
            <h5 class="header col s12 light">
                NEWS & YOU, MUSIC is exactly what you need to be updated about your favorite musicians news.
            </h5>
        </div>
        <div class="row center">
            <a ng-hide="!hideLoading || (authFact.getUserObj() != null)" ng-click="fbLogin()" id="download-button" class="btn-large waves-effect waves-light light-blue darken-4">
                    Get started with FACEBOOK Login
                </a>
            <a ng-hide="!hideLoading || (authFact.getUserObj() == null)" ng-click="goToNews()" id="download-button" class="btn-large waves-effect waves-light">
                    Get Started
                </a>
        </div>
        <div ng-hide="hideLoading" class="row center">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center text-pink-orange"><i class="medium material-icons">schedule</i></h2>
                    <h5 class="center">Save your time</h5>

                    <p class="light">
                        You don't need to spend time looking for your favorite musicians news. On your Facebook login, you just need to allow us
                        to access your music info on Facebook. Then, we already know what music news you'd like to read about
                        and you don't waste time looking for it.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center text-pink-orange"><i class="medium material-icons">lock_outline</i></h2>
                    <h5 class="center">Your info is safe</h5>

                    <p class="light">
                        Your info you give us permission to access on Facebook is totally safe. Nobody is going to actually see or use it. It's just
                        used by our recommender system algorithms to suggest you music news you'll actually like.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center text-pink-orange"><i class="medium material-icons">chat_bubble_outline</i></h2>
                    <h5 class="center">Stay updated</h5>

                    <p class="light">
                        We collect news every day for you. You'll be updated on what you love about music. We collect news from NME Music News website,
                        select what you love and make it available for you. Isn't it nice?'
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>